.conteudo {
  width: 450px;
}
.carrousel {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2px;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
.carrousel::-webkit-scrollbar {
  display: none;
}

.img1 {
  padding: 0%;
  scroll-snap-align: start;
  border-radius: 30px;
  min-height: 0px;
  min-width:950px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.img2 {
  padding: 100px;
  scroll-snap-align: start;
  border-radius: 30px;
  min-height: 0;
  min-width: 950px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.img3 {
  padding: 0px;
  scroll-snap-align: start;
  border-radius: 30px;
  min-height: 500px;
  min-width: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img4 {
  padding: 0%;
  scroll-snap-align: start;
  border-radius: 30px;
  min-height: 500px;
  min-width: 870px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img5 {
  padding: 0%;
  scroll-snap-align: start;
  border-radius: 30px;
  min-height: 500px;
  min-width: 1080px;
  display: flex;
  align-items: center;

}
.img6 {
  padding: 10px;
  scroll-snap-align:  start;
  border-radius: 30px;
  min-height: auto;
  min-width:auto;
  margin-top:50%;
  margin-bottom:50%;




}

body {

  font-family: Arial, sans-serif;
  background-color: #ffd3d3;
  color: #333;
  text-align: center;
  padding: 10px;
  margin-top:660px;
  margin-bottom: 660px;
}

